body {

margin: 0;
padding: 0;
}

.levelplan {

text-align: center;

}

.map {

position: relative;
text-align: center;

}

svg{

position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
}

.part {

opacity: 0;


}

.part:hover{

transition: opacity .2s ease;
opacity: .3;
cursor: pointer;

}

.form-control{

width: 50%;
margin: 0 auto;

}

.interaction{

text-align: center;

}

.choice{

    margin: 10px 0 ;

}


.hidden {

display: none;

}